/* the html ruleset helps with background image and a */
html {
    background: rgb(42, 233, 100) url('https://picsum.photos/id/1022/6000/3376');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    background: radial-gradient(rgb(0,143,104), rgb(250,224,66));
    width: 30rem;
    height: 30rem;
    border: 15px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 4px -15px 55px 0px rgba(101,210,152,0.74) inset;
-webkit-box-shadow: 4px -15px 55px 0px rgba(101,210,152,0.74) inset;
-moz-box-shadow: 4px -15px 55px 0px rgba(101,210,152,0.74) inset;
}

/* .clock-1 {
    border: 10px solid;
    border-radius: 50%;
    border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 1;
} */

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: rgb(243, 241, 241);
    position: absolute;
    top: 50%;
    transform-origin: 100%; /* adjusts the rotatation of the hands to the right point axis to enable the hand rotate from the center of the clock face */
    transform: rotate(90deg); /* adjusts the hand at a 90 degree angle */
    /* below properties contain the tick movement animation for the hands */
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 1.05, 0.26, 0.46);
}
